watch_file devenv.nix 
watch_file devenv.yaml 
watch_file devenv.lock
watch_file devenv.local.nix
watch_file scripts/docker-credential-aws.sh
watch_file scripts/get_vault_token.sh
watch_file scripts/tunnel.sh
eval "$(devenv print-dev-env)"
